// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
	position: relative;
	overflow-x: hidden;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Roboto", "DroidSerif", "sans-serif";
    background: #D5E0F1;   
}
img{
    width:100%;
}
h1{
    text-align:center;
    color:#FFF;
}
.box{
    margin:3%;
    padding-right:1%;
    padding-left:1%;
    border-top:1px solid #3261AB;
    border-bottom:1px solid #3261AB;
    background:#FFF;
}
.date{
    float:left;
    width: 79%;
    font-size: 4vw;
}
.form{
    float:left;
    width:20%;
}
input[type="submit"]{
    font-size: 9vw;
}
.like{
  color:#F4D2DE;
}
.unlike{
    color:#AEC1E3;
}
